*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/* VIDEO BACKGROUND START */
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: auto;
    z-index: -1000;
    padding-bottom: 56.25%;
}

.video-container video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}


/* WELCME PAGE START */
.appname {
    font-family: 'Cinzel Decorative', serif;
}

.beginPg .btns {
    margin: 45px 0 0 -45px;
}
/* WELCOME PAGE END */


/* AGE CHECK START */
.ageCheckPg .LEFT {
    margin-right: 126px;
}

.ageCheckPg a {
    margin-top: 15px; 
    margin-left: 45px;
}

.ageCheckPg #ageBtns {
    padding-left: 115px;
}

.ageCheckPg p {
    width: 30vw; 
    text-align: center; 
    color:rgba(255, 255, 255, .5); 
    padding-left: 15px;
}
/* AGE CHECK END */


/* STIMULANT PAGE START */
.alcChoicePg {
    margin-top: -175px;
}

.alcContent {
    width: 550px;
}

.alcChoicePg a {
    margin: 10px;
}
/* STIMULANT PAGE END */


/* LOADING PAGE START */
.loadingPg {
    margin-left: -175px;
}

.loadingPg .loader {
    margin-left: 200px; margin-top: 35px;
}
/* LOADING PAGE END */


/* DRINK LIST START */
.listPg {
    text-align: center; width: 500px;
}

.listPg a {
    margin-top: 15px; 
    margin-bottom: 15px; 
    width:auto; 
    overflow: hidden;
}

.listPg ol {
    color:rgb(202, 202, 202);
}
/* DRINK LIST END */


/* INGREDIENTS PAGE START */
.ingPg {
    width: 1000px;
    margin-left: -450px;
    margin-top: -350px;
    margin-bottom: 0;
}

.ingPg h4 {
    color: rgb(202, 202, 202);
    border-bottom: 2.5px solid rgb(175, 175, 175);
    margin-right: 11.25px; 
    text-align: center;
}

.ingPg .ing, .ingPg .mix {
    background:rgba(0, 0, 0, 0.5);
    border: solid rgba(255, 255, 255, 0.5) 2px;
    height: 650px;
}

.ingPg ol {
    color:rgb(202, 202, 202); 
    text-align: center; 
    font-size: 1.5em; 
    padding-top: 25px; 
    list-style-type: none;
}

.ingPg #enjoyBtn {
    margin-top: 25px;
}
/* INGREDIENTS PAGE END */


/* MUSIC START */
.musicPg {
    top: 50vh; 
    left: 92.5vw;
}

.musicPg .musicContent {
    margin-top: 200px; 
    margin-left: 100px;
}
/* MUSIC END */


/* HISTORY PAGE START */
.historyPg {
    top: 25vh; 
    left: 101.5vw; 
    z-index: 0;
}
/* HISTORY PAGE END */


/* UNDERAGE PAGE START */
.underagePg {
    margin-left: -600px;
}
/* UNDERAGE PAGE END */


/* UNIVERSAL SELECTORS*/
section {
    position: absolute;
    top:45%;
    left:45%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1;
}

h1 {
    color: rgb(202, 202, 202);
}

#invis {
    background: transparent; 
    border: none
}

.btn-large, .btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid rgba(255, 255, 255, 0.5) 2px;
}

#ingPg, #listPg, #loadingPg, #alcChoicePg, #ageCheckPg, #musicPg, #underagePg {
    display: none;
}
/* UNIVERSAL SELECTORS*/
